.nav{
    display: flex;
    justify-content: space-between;
}
.p{
    margin-left: 10px;
}
.user{
    margin: auto;
    margin-top: 40px;
    border-bottom: 0.5px solid grey;
    padding-bottom: 10px;
    width: 95%;
}
.para{
    width: 37%;
    margin-left: 20px;
    margin-top: -27px;
    color: gray;
}